@font-face {
    font-family: "Oswald";
    src: url("../../fonts/oswald.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: "Lato";
    src: url("../../fonts/lato.woff2.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    } 