.main-index {
  margin: 0 0 40px 0;
}

.main-index__functional-eat {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-index__what-works {
  @include wh(280px);
  margin: 0 auto 45px auto;

  @media (min-width: $tablet-width) {
    @include wh(768px);
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
